@tailwind base;
@tailwind components;
@tailwind utilities;

#cta {
  background-image: url("./assets/images/bg-simplify-section-desktop.svg");
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  body {
    background-position: 50px -50px;
    background-size: 500px;
  }

  #cta {
    background-image: url("./assets/images/bg-simplify-section-mobile.svg");
  }
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.custom-image-container {
  height: 50rem;
  width: 50rem;
  right: 6rem;
  z-index: -9999;
  top: -8.5rem;
}

.custom-image {
  transform: rotate(90deg);
  opacity: 0.8;
}

/* Media query for small screens (up to 768px) */
@media (max-width: 768px) {
  .custom-image-container {
    height: 25rem;
    width: 25rem;
    right: 6rem;
    z-index: -9999;
    top: -3rem;
  }

  .custom-image {
    transform: rotate(90deg);
    opacity: 0.8;
  }
}

/* Media query for medium screens (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .custom-image-container {
    height: 25rem;
    width: 25rem;
    right: 1rem;
    z-index: -9999;
    top: 4rem;
  }

  .custom-image {
    transform: rotate(90deg);
    opacity: 0.8;
  }
}

/* Media query for large screens (greater than 1024px) */
@media (min-width: 1025px) {
  .custom-image-container {
    height: 50rem;
    width: 50rem;
    right: 6rem;
    z-index: -9999;
    top: -8.5rem;
  }

  .custom-image {
    transform: rotate(90deg);
    opacity: 0.8;
  }
}
